<div class="container">
  <div>
    <h2>Scales</h2>
    <guitar-scale-reference
      [tuning]="tuning$ | async"
      [tuningChart]="tuningChart$ | async"
      [frets]="frets$ | async"
      [showNote]="true"
    ></guitar-scale-reference>
  </div>
  <div>
    <h2>Tab Example</h2>
    <guitar-chart-tab></guitar-chart-tab>
  </div>

  <div>
    <h2>Chord Example</h2>
    <label for="chordSelector" class="form-label">Select a Chord</label>
    <select
      class="form-select mb-2"
      [formControl]="formId"
      placeholder="Select a Chord"
      id="chordSelector"
    >
      <option *ngFor="let chord of chords" [value]="chord.id">
        Chord {{ chord.fullName }}
      </option>
    </select>
    <guitar-chord
      [tuning]="(tuning$ | async)!"
      [showNote]="true"
      [presses]="formPress.value"
      (pressesChanged)="onPressChange($event)"
    ></guitar-chord>
  </div>
</div>
