<div class="container landing-container">
  @for (pedal of pedals$ | async; track pedal) {
  <lib-create-pedal
    [pedal]="pedal"
    (delete)="deletePedal($event)"
  ></lib-create-pedal>
  }
  <h1>Your Gear Setup</h1>
  <lib-edit-setup
    [amps]="amps$ | async"
    [pedals]="pedals$ | async"
    [pedalboards]="pedalBoards$ | async"
  ></lib-edit-setup>
  <section>
    <h2>Pairings</h2>

    <div class="row">
      @for (pairing of pairings$ | async; track pairing) {
      <lib-edit-setup
        [amps]="amps$ | async"
        [pedals]="pedals$ | async"
        [pedalboards]="pedalBoards$ | async"
        [pairing]="pairing"
        (deletePairing)="deletePairing($event)"
      ></lib-edit-setup>
      }
    </div>
    <div class="row">
      @for (pairing of pairings$ | async; track pairing) {
      <lib-pairing-display
        class="align-items-center col-12 col-md-6 mb-3"
        [pairing]="pairing"
      ></lib-pairing-display>
      }
    </div>
  </section>
  <section>
    <h2>Your Amps</h2>
    <div class="row">
      @for (amp of amps$ | async; track amp) {
      <lib-create-amp [amp]="amp" (delete)="deleteAmp($event)"></lib-create-amp>
      }
    </div>
    <div class="row">
      @for (amp of amps$ | async; track amp) {
      <lib-amp-display
        class="align-items-center col-12 col-md-4 mb-3"
        [amp]="amp"
      ></lib-amp-display>
      }
    </div>
  </section>

  <section>
    <h2>Your Pedals</h2>
    <div class="row">
      @for (pedal of pedals$ | async; track pedal) {
      <lib-pedal-display
        class="align-items-center col-12 col-md-4 mb-3"
        [pedal]="pedal"
      ></lib-pedal-display>
      }
    </div>
  </section>
</div>
<lib-create-amp></lib-create-amp>
<lib-create-pedal></lib-create-pedal>
<lib-create-pedalboard [pedals]="pedals$ | async"></lib-create-pedalboard>
@for (pedalBoard of pedalBoards$ | async; track pedalBoard) {
<lib-create-pedalboard
  [pedals]="pedals$ | async"
  [pedalboard]="pedalBoard"
  (delete)="deletePedalboard($event)"
></lib-create-pedalboard>
}
