<div class="container">
  <guitar-user-options
    [options]="options$ | async"
    (optionChanged)="optionChanged($event)"
    class="d-block my-2"
  ></guitar-user-options>
  <div>
    <h2>Quiz</h2>
    <guitar-chord-quiz [chords]="chords"></guitar-chord-quiz>
  </div>
  <div>
    <h2>
      Fretboard Example ({{ exampleScaleForm.get('key')?.value }}
      {{ exampleScaleForm.get('scale')?.value }})
    </h2>
    <form class="container mb-1" [formGroup]="exampleScaleForm">
      <div class="row">
        <div class="col">
          <label for="frets" class="form-label">Key</label>
          <select class="form-select" formControlName="key">
            <option *ngFor="let item of scaleOptions" [value]="item">
              {{ item }}
            </option>
          </select>
        </div>
        <div class="col">
          <label for="frets" class="form-label">Scale</label>
          <select class="form-select" formControlName="scale">
            <option *ngFor="let item of scaleTypeOptions" [value]="item.value">
              {{ item.key }}
            </option>
          </select>
        </div>
      </div>
    </form>
    <guitar-fretboard
      [tuning]="(tuning$ | async)!"
      [tuningChart]="(tuningChart$ | async)!"
      [columns]="(frets$ | async)!"
      [tabs]="(exampleTab$ | async)!"
    ></guitar-fretboard>
  </div>
  <div>
    <h2>Tab Example</h2>
    <guitar-chart-tab></guitar-chart-tab>
  </div>

  <div>
    <h2>Chord Example</h2>
    <label for="chordSelector" class="form-label">Select a Chord</label>
    <select
      class="form-select mb-2"
      [formControl]="formId"
      placeholder="Select a Chord"
      id="chordSelector"
    >
      <option *ngFor="let chord of chords" [value]="chord.id">
        Chord {{ chord.fullName }}
      </option>
    </select>
    <guitar-chord
      [tuning]="(tuning$ | async)!"
      [presses]="formPress.value"
      (pressesChanged)="onPressChange($event)"
    ></guitar-chord>
  </div>
</div>
