<div class="container">
  <h2>Quiz</h2>
  <guitar-quiz-totals [totals]="form.value"></guitar-quiz-totals>
  <guitar-card [header]="activeType.value">
    <ng-container [ngSwitch]="activeValue.value">
      <ng-container *ngSwitchCase="'sorting'">
        <guitar-mode-ordering-quiz
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-mode-ordering-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'relativeMinor'">
        <guitar-relative-minor-quiz
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-relative-minor-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'modeName'">
        <guitar-mode-name-quiz
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-mode-name-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'mode'">
        <guitar-mode-quiz
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-mode-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'chord'">
        <guitar-chord-quiz
          [chords]="chords"
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-chord-quiz>
      </ng-container>
    </ng-container>
  </guitar-card>

  <guitar-card header="Chords">
    <guitar-chord-quiz
      [chords]="chords"
      (correct)="onCorrect()"
      (incorrect)="onIncorrect()"
    ></guitar-chord-quiz>
  </guitar-card>
</div>
