<div class="container">
  <h2>Quiz</h2>
  <mat-form-field>
    <mat-label>Quiz Types</mat-label>
    <mat-select
      [formControl]="activeQuizzes"
      (selectionChange)="randomizeQuiz()"
      multiple
    >
      <mat-select-trigger>
        {{ activeQuizzes.value?.length || 0 }} Types
      </mat-select-trigger>
      <mat-option *ngFor="let item of quizItems" [value]="item.value">{{
        item.key
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <guitar-quiz-totals [totals]="form.value"></guitar-quiz-totals>
  <guitar-card [header]="activeType.value">
    <ng-container [ngSwitch]="activeValue.value">
      <ng-container *ngSwitchCase="'sorting'">
        <guitar-mode-ordering-quiz
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-mode-ordering-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'relativeMinor'">
        <guitar-relative-minor-quiz
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-relative-minor-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'relativeMajor'">
        <guitar-relative-major-quiz
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-relative-major-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'modeName'">
        <guitar-mode-name-quiz
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-mode-name-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'mode'">
        <guitar-mode-quiz
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-mode-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'chord'">
        <guitar-chord-quiz
          [chords]="chords"
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-chord-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'triads'">
        <guitar-chord-quiz
          [chords]="triads"
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-chord-quiz>
      </ng-container>
      <ng-container *ngSwitchCase="'triadsMinor'">
        <guitar-chord-quiz
          [chords]="triadsMinor"
          (correct)="onCorrect()"
          (incorrect)="onIncorrect()"
        ></guitar-chord-quiz>
      </ng-container>
    </ng-container>
  </guitar-card>
</div>
