<div class="container landing-container">
  <h1>Your Gear Setup</h1>
  <lib-edit-setup
    [amps]="amps$ | async"
    [pedals]="pedals$ | async"
  ></lib-edit-setup>
  <section>
    <h2>Pairings</h2>

    <div class="row">
      <lib-pairing-display
        class="align-items-center col-12 col-md-6 mb-3"
        *ngFor="let pairing of pairings$ | async"
        [pairing]="pairing"
      ></lib-pairing-display>
    </div>
  </section>
  <section>
    <h2>Your Amps</h2>
    <div class="row">
      <lib-amp-display
        class="align-items-center col-12 col-md-4 mb-3"
        *ngFor="let amp of amps$ | async"
        [amp]="amp"
      ></lib-amp-display>
    </div>
  </section>
  <section>
    <h2>Your Amp Usages</h2>
    <ul>
      <li *ngFor="let ampUsage of ampUsages$ | async">
        {{ ampUsage.name }} - {{ ampUsage.amp.name }}
      </li>
    </ul>
  </section>

  <section>
    <h2>Your Pedals</h2>
    <div class="row">
      <lib-pedal-display
        class="align-items-center col-12 col-md-4 mb-3"
        *ngFor="let pedal of pedals$ | async"
        [pedal]="pedal"
      ></lib-pedal-display>
    </div>
  </section>
</div>
<lib-create-amp></lib-create-amp>
<lib-create-amp-usage [amps]="amps$ | async"></lib-create-amp-usage>
<lib-create-pedal></lib-create-pedal>
<!-- <lib-create-pedal-usage [pedals]="pedals$ | async"></lib-create-pedal-usage> -->
<lib-create-pedalboard [pedals]="pedals$ | async"></lib-create-pedalboard>
<lib-create-pairing
  [ampUsages]="ampUsages$ | async"
  [pedalBoards]="pedalBoards$ | async"
></lib-create-pairing>
