<div class="container landing-container p-2">
  <section>
    <div class="d-flex justify-content-between mb-2">
      <h2>Pairings</h2>
      <button class="btn btn-primary" (click)="onPairingNavigate('new')">
        Add Pairing
      </button>
    </div>
    <div class="row">
      @for (pairing of pairings$ | async; track pairing) {
      <lib-pairing-display
        class="align-items-center col-12 col-md-6 mb-3 pointer"
        [pairing]="pairing"
        (click)="onPairingNavigate(pairing._id)"
      ></lib-pairing-display>
      }
    </div>
  </section>
  <section>
    <div class="d-flex justify-content-between mb-2">
      <h2>Your Amps</h2>
      <button class="btn btn-primary" (click)="openAmpModal()">Add Amp</button>
    </div>

    <div class="row">
      @for (amp of amps$ | async; track amp) {
      <lib-amp-display
        class="align-items-center col-12 col-md-4 mb-3 pointer"
        (click)="openAmpModal(amp)"
        [amp]="amp"
      ></lib-amp-display>
      }
    </div>
  </section>

  <section>
    <div class="d-flex justify-content-between mb-2">
      <h2>Your Pedals</h2>
      <button class="btn btn-primary" (click)="openPedalModal()">
        Add Pedal
      </button>
    </div>
    <div class="row">
      @for (pedal of pedals$ | async; track pedal) {
      <lib-pedal-display
        class="align-items-center col-12 col-md-4 mb-3"
        [pedal]="pedal"
        [showMenu]="true"
        (menuClick)="onMenuClick($event)"
      ></lib-pedal-display>
      }
    </div>
  </section>

  <section>
    <div class="d-flex justify-content-between mb-2">
      <h2>Your Pedalboards</h2>
      <button class="btn btn-primary" (click)="openPedalboardModal()">
        Add Pedalboard
      </button>
    </div>
    <div class="row">
      @for (pedalboard of pedalBoards$ | async; track pedalboard) {
      <lib-pedalboard-display
        class="align-items-center col-12 col-md-4 mb-3 pointer"
        (click)="openPedalboardModal(pedalboard)"
        [pedalboard]="pedalboard"
      ></lib-pedalboard-display>
      }
    </div>
  </section>
</div>
