@import 'bootstrap/scss/bootstrap';

@import 'libs/guitar-tools/src/lib/styles/index.scss';
@import 'libs/drums/src/lib/styles.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
