<nav class="navbar" [class.navbar--open]="isMenuOpen">
  <div class="navbar__blur"></div>
  <div class="navbar__container">
    <a class="navbar__brand" [routerLink]="['']">
      <span class="navbar__logo">GT</span>
      <span class="navbar__title">
        <span class="navbar__name">Guitar Tools</span>
        <span class="navbar__tagline">Practice smarter</span>
      </span>
    </a>

    <button
      type="button"
      class="navbar__toggle"
      (click)="toggleMenu()"
      [attr.aria-expanded]="isMenuOpen"
      aria-controls="primary-navigation"
      aria-label="Toggle navigation"
    >
      <span class="navbar__toggle-line"></span>
      <span class="navbar__toggle-line"></span>
      <span class="navbar__toggle-line"></span>
    </button>

    <div class="navbar__links" id="primary-navigation">
      <a
        class="navbar__link"
        [routerLink]="['']"
        routerLinkActive="is-active"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="closeMenu()"
        >Home</a
      >
      <a
        class="navbar__link"
        [routerLink]="['quiz']"
        routerLinkActive="is-active"
        (click)="closeMenu()"
        >Quiz</a
      >
      <a
        class="navbar__link"
        [routerLink]="['options']"
        routerLinkActive="is-active"
        (click)="closeMenu()"
        >Options</a
      >
      <a
        class="navbar__link"
        [routerLink]="['metronome']"
        routerLinkActive="is-active"
        (click)="closeMenu()"
        >Metronome</a
      >
    </div>
  </div>
</nav>
