/* You can add global styles to this file, and also import other style files */
@import 'styles/variables';
@import 'bootstrap/scss/bootstrap';

@import 'guitar-tools/src/lib/styles/index.scss';
@import 'styles/index.scss';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: $font-family-base;
}

pre {
  text-align: left !important;
}
